/* img{
    border: solid 1px #fff;
  } */
  html{
  
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
    
  }
  
    body
    {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
    }
  body{
    font-family: 'Poppins', sans-serif;
  /*   width: 1440px; */
    margin: 0;
    background: #1E252B;
    font-weight: 500;
    line-height: 30px;
  }
  a{
    text-decoration: none;
  }
  button{
     cursor: pointer;
  }
  .header-nav{
    display: flex;
    justify-content: space-between;
    margin: 26px 105px 0 111px;
  }
  .logo{
    display: flex;
    margin-top: 5px;
  }
  .logo p{
    margin:3px 0 0 12px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    font-weight: 600;
  }
  .logo img{
    width: 38px;
    height: 38px;
  }
  .header-links{
    color: rgba(255, 255, 255, 0.55);
    margin-top: -5px;
    height: 24px;
    margin-bottom: 104px;
  }
  .header-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    
  }
  .header-links ul{
    list-style:none;
    display: flex;
    font-size: 16px;
    
  }
  .header-links li{
    padding-left: 45px;
    
  }
  .enter{
    display: flex;
  }
  .enter a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    margin-right: 41px;
    margin-top: 12px;
    font-weight: 600;
  }
  .signup{
    width: 118px;
    height: 48px;
    background: #FF6E30;
    border-radius: 8px;
    color: #FDF5FF;
    font-size: 16px;
    border: none;
     font-weight: 600;
  }
  .upper-title p{
    font-size: 50px;
    font-weight: 500;
    width: 600px;
    margin-left: 111px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
    line-height: 50px;
  }
  .dot{
    color: #FF6E30;
  }
  .sub-title{
    font-weight: 400;
    font-size: 18px;
    margin-left: 111px;
    width: 487px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
  }
  .color-text{
   color: rgba(255, 255, 255, 0.38);
  
  }
  .search{
    margin-left: 111px;
    
  }
  .search input{
    height: 64px;
    width: 497px;
    border-radius: 15px;
    background: rgb(40,48,54);
    background: linear-gradient(90deg,          rgba(40,48,54,1) 0%, rgba(40,48,54,1)       10%);
     border: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 55px;
  }
  .search button{
    margin-left: -145px;
    width: 130px;
    height: 48px;
    border: none;
    background: #FF6E30;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
  
  
  .stool{
    width: 24px;
    height: 24px;
  /*   margin-left: -472px; */
    margin-top: -47px;
    margin-left: 21px;
  }
  
  .social-media{
    display: flex;
     margin-left: 111px;
  }
  .media{
    margin-top: 125px;
    margin-left: 8px;
    width: 58px;
    height: 58px;
  }
  .logo-f{
    margin-left: 0px;
  }
  .header-main{
    display: flex;
    
  }
  .header-image{
    margin-top: 0px;
    margin-left: auto;
    
  }
  .header-image img{
 width: 560px;    
    height: 502px;
  }
  .main-upper-title{
    margin-top: 200px;
    
  }
  .main-upper-title p{
    font-weight: 500;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center; 
    margin: 0;
  }
  .main-subtitle{
    color: rgba(255, 255, 255, 0.55);
   
    text-align: center;
    display: flex;
    justify-content: center; 
    font-weight: 500;
    font-size: 18px;
  }
  .mainsub{
     width: 427px;
    height: 60px;
    margin: 25px;
  }
  .upper-box-main, .under-box-main{
    display: flex;
  }
  .first-box, .fourth-box{
    margin-left: 108px;
  }
  .logo-name-value{
    display: flex;
  }
  .box{
    margin-top: 110px;
    width: 392px;
    height: 294px;
    
  }
  .sixth-box, .fifth-box, .thrid-box, .second-box{
    margin-left: 24px;
  }
  .box .box-logo{
    margin-left: 33px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .box-title{
    color: rgba(255, 255, 255, 0.78);
    font-weight: 500;
    font-size: 24px;
  }
  .box-subtitle{
    color: rgba(255, 165, 55, 0.55);
    font-weight: 400;
    font-size: 18px;
   
  }
  .box-main p{
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    font-size: 16px;
     margin: 0 33px 0 33px;
  }
  .box-footer{
    display: flex;
    margin-top: 30px;
  }
  .box-case, .box-heart{
    width: 42px;
    height: 42px;
  }
  .box-case{
    margin-top: 4px;
  }
  .box-heart{
    margin-top: 8px;
    margin-left: 33px;
    margin-right: 12px;
  }
  .box-btn{
    
    margin-left: auto;
  }
  .box-btn button{
    margin-right: 33px;
    width: 106px;
    height: 42px;
    border: none;
    background: #1E252B;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 16px;
  }
  .box:hover{
   background: rgb(30,37,43);
  background: linear-gradient(31deg, rgba(30,37,43,1) 0%, rgba(30,37,43,1) 34%, rgba(30,37,43,1) 71%, rgba(78,53,43,1) 100%);
    backdrop-filter: blur(25px);
  border-radius: 15px;
    margin-top: 90px;
    Box-shadow:0px 1px 0px #283036
  ,0px -1px 0px #283036
  ,1px 0px 0px #283036
  ,-1px 0px 0px #283036
  ;
   transition: 0.55s linear;
  }
  .box:hover button{
    background: #FF6E30;
    color: #FFFFFF;
  }
  .box:hover .box-title p{
    color: rgba(255, 255, 255, 0.9);
  }
  .box:hover .box-subtitle p{
    color: #FFA537;
  }
  .box:not(:hover){
     transition: 0.55s linear;
  }
  .box-footer-btn{
    display: flex;
    justify-content: center;
   
  }
  .box-footer-btn {
  margin-top: 100px;
  }
  .load-more{
    color: #FF6E30;
    background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
    width: 184px;
  height: 64px;
    font-weight: 500;
  font-size: 20px;
  }
  .load-more:hover{
    background: #FF6E30;
     transition: 0.55s linear;
    color:rgba(255, 255, 255, 0.9);
  }
  .load-more:not(:hover){
   transition: 0.55s; 
  }
  .box-flex{
    display: flex;
    justify-content: center;
  }
  .trust-box{
    margin-top: 200px;
    width: 1224px;
    height: 253px;
    border-radius: 25px;
     background: rgb(78,53,43);
  background: linear-gradient(162deg, rgba(78,53,43,1) 0%, rgba(44,53,61,1) 34%, rgba(44,53,61,1) 71%, rgba(30,37,43,1) 100%);
    backdrop-filter: blur(25px);
    margin-bottom: 220px;
  }
  .trust-box p{
    text-align: center;
    font-weight: 500;
  font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 55px;
    padding-bottom: 56px;
  }
  .trust-box ul{
    display: flex;
    list-style:none;
    justify-content: space-between;
  }
  .microsoft{
    margin-left: 82px;
  }
  .wordpress{
    margin-right: 82px;
  }
  .newcomer-block{
    display: flex;
  }
  .left-block{
    margin-left: 108px;
    margin-right: 193px;
    margin-top: -5px;
  }
  .left-title{
    height: 62px;
  }
  .left-title p{
    font-weight: 500;
  font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
  }
  .left-subtitle{
    height: 90px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .left-subtitle p{
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
  }
  .left-button{
    width: 198px;
    height: 58px;
    background: #FF6E30;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }
  
  .r-upper, .r-under{
    display: flex;
  }
  .r-under{
    margin-top: 50px;
  }
  .r-name-value-logo{
    display: flex;
  }
  
  /* .r-upper{
    margin-bottom: 50px; */
  }
  .r-element{
    width: 288px;
  height: 304px;
  /*   margin-top: 50px; */
  }
  .box-head-r{
    margin-left: 26px;
    margin-top: 28px;
  }
  .box-logo-r{
   padding-right: 34px;
    padding-top: 28px;
  }
  .box-main-r{
    margin-left: 22px;
  }
  .box-title-r{
    font-weight: 500;
  font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
  }
  .box-subtitle-r{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
  
  }
  .box-main-r p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
  
  }
  .box-footer-r{
    display: flex;
  }
  .box-heart-r{
    width: 42px;
    height: 42px;
    margin-left: 22px;
    margin-top: 14px;
  }
  .box-case-r{
     width: 42px;
    height: 42px;
    margin-left: 12px;
    margin-top: 10px;
  }
  .visit-button-r{
    width: 106px;
    height: 42px;
  
    margin-right: 21px;
    margin-left: 41px;
    margin-bottom: 28px;
    border-radius: 8px;
    background: #1E252B;
    border: none;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  .r-element:hover{
     background: rgb(30,37,43);
  background: linear-gradient(31deg, rgba(30,37,43,1) 0%, rgba(30,37,43,1) 34%, rgba(30,37,43,1) 71%, rgba(78,53,43,1) 100%);
    backdrop-filter: blur(25px);
  border-radius: 15px;
    transition: 0.55s;
     Box-shadow:0px 1px 0px #283036
  ,0px -1px 0px #283036
  ,1px 0px 0px #283036
  ,-1px 0px 0px #283036;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .r-element:not(:hover){
    transition:0.55s;
  }
  .r-element:hover button{
    background: #FF6E30;
    color: #FFFFFF;
    transition: 0.55s;
  }
  .r-second, .r-fourth{
    margin-right: 30px;
  }
  
  .r-first, .r-thrid{
    margin-right: 20px;
  }
  .newcomer-footer{
    display: flex;
    
  }
  .left-info-box{
    background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 8px;
    width: 265px;
    height: 91px;
    margin-left: 130px;
    margin-top: -155px;
  }
  .info-title p{
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    color: rgba(255, 253, 253, 0.78);
    letter-spacing: 0.015em;
    
  }
  .info-subtitle{
    font-weight: 400;
  font-size: 16px;
    color: rgba(255, 253, 253, 0.55);
    margin-left: 23px;
    margin-top: -18px;
    
  }
  .left-photo{
    margin-top: 200px;
    width: 399px;
  height: 492px;
    margin-left: 295px;
  }
  .footer-right{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
  }
  .right-quation{
    font-family: 'Lora', serif;
    font-weight: 500;
  font-size: 250px;
    background: linear-gradient(188.88deg, rgba(252, 252, 252, 0) 20.34%, rgba(255, 255, 255, 0.5) 155.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  transform: rotate(19.17deg);
   margin-left: -35px;
   
  }
  .right-text{
    font-family: 'Roboto', sans-serif;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.78);
    width: 396px;
    /* height: 180px; */
    margin-left: -21px;
    margin-top: 187px;
    letter-spacing: 0.015rem;
    
  }
  .become-title{
    text-align: center;
    margin-top: 200px;
  }
  .become-title{
    font-weight: 500;
  font-size: 48px;
    line-height: 62px;
    color: rgba(255, 255, 255, 0.9);
  }
  
  
  .become-upper{
   display: flex;
    justify-content: center;
  }
  .become-subtitle{ 
     width: 427px;
    height: 60px;
    text-align: center;
    font-weight: 500;
  font-size: 18px;
  line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
  margin-top: -45px;
    margin-bottom: 100px;
  }
  .input-box-email{
    display: flex;
    justify-content: center;
    
    
  }
  .email-input input{
    
    margin-bottom: 240px;
    height: 64px;
    width:539px;
    border-radius: 15px;
    background: rgb(40,48,54);
    background: linear-gradient(90deg,          rgba(40,48,54,1) 0%, rgba(40,48,54,1)       10%);
     border: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 24px;
  }
  .color-text-email{
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.38);
  }
  .join-us-button{
    margin-left: -142px;
    margin-top: 8px;
    width: 130px;
    height: 48px;
    border: none;
    background: #FF6E30;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
  .newcomer-underline{
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    margin-bottom: 70px;
  }
  .footer{
    display: flex;
    justify-content: space-between;
  }
  .footer-box-first{
    margin-left: 108px;
  }
  .fbf-subtitle{
    margin-top: 21px;
    margin-bottom: 98px;
    width: 260px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.55);
  /*   margin-right: 156px; */
  }
  .fbf-logo-info{
    display: flex;
    font-weight: 600;
    font-size: 22px;
    line-height: 3px;
    color: rgba(255, 255, 255, 0.9);
    
  }
  .fbf-logo-info p{
    margin-left: 12px;
  }
  .fbf-copyright{
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 25px;  
  }
  .footer-box-second{
    margin-left: 30px;
  /*   margin-bottom: 139px; */
  }
  .footer-box-second ul li{
    list-style: none;
    width: 197px;
    margin-left: -41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
  
  }
  .footer-box-second p{
   color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 10px;
  }
  .fbs p{
    margin-top: -1px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
  }
  .fbt-design a{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    
  }
  .fbt-design p{
    margin-bottom: -7px;
  }
  .categories{
    margin-top: -22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
  }
  .footer-box-thrid{
   margin-right: 30px;
  }
  .footer-box-fourth{
    margin-right: 130px;
    margin-top: -22px;
  }
  .company-info p{
    font-weight: 500;
  font-size: 20px;
  line-height: 30px;
    color: rgba(255, 255, 255, 0.9);  
  }
  .ci-about-us{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
  }
  .ci-about-us a{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: 500;
  }